<div class="alunoform">
  <h3>Formulário de Cliente</h3>
  <form #formUsuario="ngForm">
    <label>Primeiro nome:</label>
    <input matInput
           [(ngModel)]="aluno.primeiroNome" name="primeiroNome"><br/>
    <label>Sobrenome nome:</label>
    <input matInput
           [(ngModel)]="aluno.sobreNome" name="sobreNome"><br/>
    <label>E-mail:</label>
    <input matInput
           [(ngModel)]="aluno.email" name="email"><br/>
    <label>Idade:</label>
    <input matInput
           [(ngModel)]="aluno.idade" name="idade"><br/>
    <input type="submit" title="Salvar" (click)="salvar(aluno)">
  </form>
</div>

