label{
color: black;
font-family: verdana;
font-size: 20px;
position: relative;
}

h3{
  color: black;
  font-family: verdana;
  position: relative;
}

input{
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  padding-top: 10px;

  position: relative;
  border: 1px solid1;

}

.alunoform{
  background-color: #4cc9f0;
  margin-left: 390px;
  margin-right: 380px;
  padding-left: 25px;
  padding-top: 10px;
  border-radius: 5px;
}
